<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin dash</title>
</head>
<body>
	<form action="{{url_for('chat')}}" method="post">
	<div>
		<div class="content --box">
			<input type="text" id="username" name="username" class="input -text" placeholder="Username" required autofocus>
			<input type="text" id="room" name="room" class="form-control" placeholder="Room" required>
			<button type="submit" class="btn chat">Mulai chat</button>
		</div>
		<div class="-bellow">
			<h4>Open room list</h4>
			{%for room in room_json%}
			<div class="list"><p>room : </p><p>{{room}}</p></div>
			{% endfor %}
		</div>
	</div>
	</form>
	
</body>
<style>
form{
	display: flex;
	justify-content:center;
}
.content{
	width:20em;
	height:20em;
	display: flex;
	justify-content: center;
	align-items:center;
	
}
.chat{
	margin:10px;
	background-color:aquamarine;
	border: 2px aquamarine;
}
input[type=text] {
  border: none;
  border-left: 2px solid mediumslateblue;
}
input[type=text]:focus,input[type=text]:active {
  outline: none !important;
  box-shadow: none;
}
.list{
	width: 300px;
	display:flex;
}
</style>
</html>